{% extends "index.html" %}
{% block content %}
    <div class="container-fluid">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
            {% for image in carousel_img %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ url_for('static', filename='upload/carousel/'+image) }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <h3 class="text-center">Berita terbaru</h3>
        <div class="container text-center">
            {% for i in range(0, newest_berita|length, 3) %}
                <div class="row">
                    {% for j in range(i, i+3) %}
                        {% if j < newest_berita|length %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img src="{{ url_for('static', filename='upload/berita/' + berita_image[j]) }}" class="card-img-top img-fluid" alt="Berita Image">
                                    <div class="card-body">
                                        <p class="card-text">
                                            {% set days_difference = (datetime.utcnow() - newest_berita[j].date_created).days %}
                                            {% if days_difference <= 7 %}
                                                {{ newest_berita[j].date_created|humanize }}
                                            {% else %}
                                                {{ newest_berita[j].date_created.strftime('%Y-%m-%d') }}
                                            {% endif %}
                                        </p>
                                        <h3 class="card-title">{{ newest_berita[j].title }}</h3>
                                        <!-- Add other details as needed -->
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
