<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg sticky-top theme-color footer" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename='fti08.png') }}" width="500">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 py-2 align-right px-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('views.beranda') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-bs-toggle="dropdown">Profil</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('views.akreditasi') }}">Akreditasi</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('views.organisasi') }}">Struktur Organisasi</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('views.dosen') }}">Staff Dosen</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('views.tendik') }}">Staff Administrasi</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('views.visi_misi') }}">Visi dan Misi</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('views.tujuan') }}">Tujuan</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('views.senat') }}">Senat</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-bs-toggle="dropdown">Akademik</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://ce.fti.unand.ac.id/">Departemen Teknik Komputer</a></li>
                            <li><a class="dropdown-item" href="http://si.fti.unand.ac.id/">Departemen Sistem Informasi</a></li>
                            <li><a class="dropdown-item" href="http://if.fti.unand.ac.id/">Departemen Informatika</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-bs-toggle="dropdown">Penjaminan Mutu</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('views.bapem_profil') }}">Profil</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('views.bapem_struktur') }}">Struktur Organisasi</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('views.bapem_dokumen') }}">Dokumen SOP</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">PPID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Berita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Zona Integritas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Dokumen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="container-fluid theme-color container-fluid footer" >
        <div class="row">
            <div class="col-3 align-self-center">
                <h2>Office Location</h2>
            </div>
            <div class="col-5 align-self-center">
                <h5>Alamat</h5>
                <p>Kampus Unand Limau Manis, Padang - Fakultas Teknologi Informasi Unand Sumatera Barat - 25163</p>
                <h5>Email dan Telepon Kantor</h5>
                <p>Telepon: +0751-9824667</p>
                <p>Email: sekretariat@it.unand.ac.id</p>
            </div>
            <div class="col-4 py-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7978.618344918063!2d100.46105300000002!3d-0.915351!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2fd4b7963e1ea631%3A0x452d09b61f76d6ec!2sFakultas%20Teknologi%20Informasi!5e0!3m2!1sid!2sid!4v1688121446622!5m2!1sid!2sid" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded mx-auto d-block"></iframe>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>