{% extends "index.html" %}
{% block content %}
    <div class="container py-3">
    <h4 class="text-center py-2">Gugus Penjaminan Mutu (GPM)</h4>
        <p>Kedudukan, Tugas dan Fungsi Gugus Penjaminan Mutu (GPM) berdasarkan Peraturan Rektor Universitas Andalas Nomor 8 Tahun 2022 :</p>
        <ol>
            <li>Gugus Penjaminan Mutu berkedudukan sebagai unit Fakultas yang bertanggung jawab di bidang pengembangan dan pengendalian sistem penjaminan mutu akademik Fakultas dan Program Studi.</li>
            <li>Gugus Penjaminan Mutu bertanggung jawab kepada Rektor melalui Dekan.</li>
            <li>Gugus Penjaminan Mutu melaksanakan fungsi pengembangan dan pengendalian sistem penjaminan mutu akademik Fakultas dan Program Studi yang sejalan dengan sistem penjaminan mutu internal UNAND.</li>
        </ol>
        <p>Dalam melaksanakan fungsinya, Gugus Penjaminan Mutu mempunyai wewenang :</p>
        <ol>
            <li>Merumuskan kebijakan SMI untuk pencapaian visi dan misi Fakultas;</li>
            <li>Menyusun standar SPMI dengan mengacu pada standar nasional pendidikan tinggi dan standar mutu UNAND.</li>
            <li>Merumuskan manual SPMI yang menjadi panduan implementasi manajemen mutu di tingkat Fakultas dan Program Studi.</li>
            <li>Melaksanakan monitoring dan evaluasi pelaksanaan standar mutu di tingkat Fakultas dan Program Studi.</li>
            <li>Menyusun rencana peningkatan standar mutu atas ketercapaian pada siklus mutu sebelumnya.</li>
            <li>Melaksanakan monitoring dan evaluasi terhadap tindak lanjut rekomendasi oleh assesor ban-pt/lam-pt dan/atau asesor sertifikasi/akreditasi internasional.</li>
            <li>Menyampaikan permintaan tindakan koreksi terhadap ketidaksesuaian standar mutu di tingkat fakultas dan program studi.</li>
            <li>Mengoordinasikan penyusunan, evaluasi dan peningkatan standar SPMI Fakultas dengan LPM.</li>
            <li>Melaksanakan tugas lainnya yang diberikan Dekan.</li>
        </ol>
    <h4 class="text-center py-2">Gugus Kendali Mutu (GKM) Departemen</h4>
    <p>Berdasarkan Peraturan Rektor Universitas Andalas Nomor 8 Tahun 2022, Gugus Kendali Mutu (GKM) memiliki tugas dan wewenang:</p>
    <ol>
        <li>Melakukan monitoring dan evaluasi terhadap kesesuaian antara Rencana Pembelajaran Semester (RPS) mata kuliah atau Rencana Pembelajaran Blok (RPB) dengan pelaksanaan proses pembelajaran.</li>
        <li>Melakukan monitoring dan evaluasi terhadap tingkat kehadiran Dosen dan Mahasiswa dalam proses pembelajaran.</li>
        <li>Melakukan monitoring dan evaluasi tentang tindak lanjut temuan AMI.</li>
        <li>Menyampaikan hasil evaluasi dan monitoring Program Studi kepada Gugus Penjaminan Mutu dan ketua Program Studi.</li>
        <li>Melaksanakan monitoring dan evaluasi Pedoman, SOP, dan Formulir layanan Akademi.</li>
        <li>Mengoordinasikan pelaksanaan monitoring dan evaluasi dengan Ketua Program Studi dan Gugus Penjaminan Mutu.</li>
        <li>Melakukan monitoring dan evaluasi terhadap ketercapaian Capaian Pembelajaran Lulusan dan Profil Lulusan.</li>
    </ol>
    </div>
{% endblock %}
