{% extends "index.html" %}
{% block content %}
    <div class="container">
        <div class="row py-4">
            <div class="col-12 py-1">
                <h3 class="text-center py-4">Tujuan</h3>
                <ol>
                    <li>Menghasilkan lulusan yang berwawasan luas, berkemampuan profesional, berakhlak mulia, dan berjiwa technopreneur di bidang teknologi informasi.</li>
                    <li>Menciptakan peringkat akreditasi unggul untuk semua program studi.</li>
                    <li>Melaksanakan penelitian untuk menghasilkan publikasi ilmiah dan paten yang bermutu dan inovatif yang bermanfaat untuk pengembangan ilmu pengetahuan, teknologi, dan pembangunan masyarakat madani.</li>
                    <li>Menerapkan teknologi informasi kepada masyarakat luas untuk meningkatkan kesejahteraan sosial dan ekonomi.</li>
                    <li>Membangun kerjasama yang berkelanjutan dengan masyrakat, sektor swasta, pemerintah, dan lembaga - lembaga nasional serta internasional.</li>
                </ol>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
