{% extends "index.html" %}
{% block content %}
    <div class="container">
        <div class="row py-4">
            <div class="col-6 py-2">
                <h3 class="text-center">Visi</h3>
                <p>Menjadi Fakultas Teknologi Informasi yang Bermutu dan Bereputasi Nasional Tahun 2028.</p>
            </div>
            <div class="col-6 py-2">
                <h3 class="text-center">Misi</h3>
                <ol>
                    <li>Menyelenggarakan pendidikan yang bereputasi global dan bermartabat untuk menghasilkan lulusan bidang teknologi informasi yang berakhlak mulia dan kompetitif.</li>
                    <li>Menyelenggarakan penelitian yang bermartabat bagi pelayanan publik dan industri serta berkontribusi nyata untuk pengembangan ilmu pengetahuan dan teknologi di bidang teknologi informasi.</li>
                    <li>Menyelenggarakan pengabdian kepada masyarakat dalam bidang teknologi informasi untuk berkontribusi nyata dalam peningkatan kesejahteraan ekonomi dan sosial masyarakat.</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
